
<h1>Search Results</h1>

<% if @routes %>

    <table>

      <tr><th>Route</th><th>Stops At</th></tr>

      <% @routes.each do |a_route| %>

          <tr><td><%= a_route.start %></td>  <!--dee   put in start-->
          <td><%= a_route.finish %></td>
            <td><% a_route.route_details.each do |details| %>

                  <%= details.stop_name %><br/>

              <% end %>

            </td>

          </tr>

      <% end %>

    </table>

<% else %>

    <p>Sorry, couldn't find anything.</p>

    <p>Return to the <%= link_to "home page", root_url %>.</p>

<% end %>